
Lesson10/Project_work-Copy1.ipynb
Lesson10/Project_work-Copy2.ipynb
Lesson10/realestatepriceprediction.zip
Lesson10/result_29Apr3.csv
Lesson10/result_29Apr_2.csv
Lesson10/result_v1.csv
Lesson10/result_v2.csv
Lesson10/result_v4.csv
Lesson10/result_v5.csv
Lesson10/result_v6.csv
Lesson10/result_v7.csv
Lesson10/result_v8.csv
Lesson10/result_v9.csv
